<div>
  <button (click)="display()">display formulaire</button>
</div>

<div *ngFor="let client of clients">
  <label for="">Nom :  {{ client.nom}} </label><br/>
  <label for="">Prenom : {{ client.prenom}} </label><br/>
  <label for="">Cin : {{ client.cin}} </label><br />
  <label for=""></label>
</div>
<div *ngIf="displayIt">
  <form [formGroup]="initClient" (ngSubmit)="onSubmit()">
  <label for="">Nom : </label><br />
  <input type="text" class="form-control" formControlName="nomInput">
  <label for=""> Prenom </label><br />
  <input type="text" class="form-control" formControlName="prenomInput">
  <label for="">CIN : </label>
  <input type="text" class="form-control" formControlName="cinInput">
  <button type="submit" [disabled]="initClient.invalid">Creer</button>
</form>
</div>
